.announcement {
  display: flex;
  flex-direction: column;
  width: 640px;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #ffffff;
}

.announcement .div {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.announcement .frame {
  display: flex;
  width: 640px;
  background-color: #ffaa0f;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.announcement .frame-2 {
  display: flex;
  flex-direction: column;
  width: 640px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.announcement .element-logo-header {
  display: flex;
  flex-direction: column;
  width: 640px;
  align-items: center;
  justify-content: center;
  padding: 22px 0px 6px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.announcement .venmo-x-partner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.announcement .elements-logos {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 0px;
  position: relative;
  flex: 0 0 auto;
}

.announcement .venmo-logo {
  position: relative;
  width: 118px;
  height: 23px;
  aspect-ratio: 5.13;
}

.announcement .vector {
  position: absolute;
  width: 99.57%;
  height: 98.27%;
  top: 0;
  left: 0;
}

.announcement .img {
  position: absolute;
  width: 81.49%;
  height: 97.98%;
  top: 2.02%;
  left: 18.51%;
}

.announcement .vector-2 {
  position: absolute;
  width: 65.58%;
  height: 97.88%;
  top: 2.12%;
  left: 34.42%;
}

.announcement .vector-3 {
  position: absolute;
  width: 46.76%;
  height: 97.98%;
  top: 2.02%;
  left: 53.24%;
}

.announcement .vector-4 {
  position: absolute;
  width: 17.94%;
  height: 97.88%;
  top: 2.12%;
  left: 82.06%;
}

.announcement .rectangle {
  position: relative;
  width: 2px;
  height: 23px;
  background-color: var(--venmo-brand-colors-black-duplicate);
}

.announcement .PP {
  position: relative;
  width: 80.92px;
}

.announcement .element-primary-text {
  display: flex;
  flex-direction: column;
  width: 640px;
  align-items: center;
  padding: 16px 48px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--digital-ctas-linksvenmo-digital-blue);
}

.announcement .top-spacer {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 32px;
}

.announcement .text-container {
  flex-direction: column;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  position: relative;
}

.announcement .elements-text {
  padding: 12px 0px 6px;
  display: flex;
  min-width: 260px;
  max-width: 592px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  width: 100%;
  flex: 0 0 auto;
}

.announcement .headline {
  justify-content: center;
  color: #ffffff;
  font-size: var(--h2-48pt-font-size);
  text-align: center;
  letter-spacing: var(--h2-48pt-letter-spacing);
  line-height: var(--h2-48pt-line-height);
  position: relative;
  display: flex;
  align-items: flex-end;
  flex: 1;
  margin-top: -1px;
  font-family: var(--h2-48pt-font-family);
  font-weight: var(--h2-48pt-font-weight);
  font-style: var(--h2-48pt-font-style);
}

.announcement .body-copy-arial-wrapper {
  min-width: 260px;
  max-width: 592px;
  gap: 10px;
  padding: 11px 0px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.announcement .body-copy-arial {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-top: -1px;
  font-family: "Arial-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22.4px;
}

.announcement .elements-buttons {
  width: 260px;
  justify-content: center;
  padding: 16px 0px;
  display: flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.announcement .button {
  all: unset;
  box-sizing: border-box;
  flex: 1;
  flex-grow: 1;
  display: flex;
  height: 38px;
  align-items: center;
  justify-content: center;
  padding: 16px 20px;
  position: relative;
  background-color: #ffffff;
  border-radius: 26px;
}

.announcement .text {
  justify-content: center;
  width: fit-content;
  margin-top: -7.5px;
  margin-bottom: -5.5px;
  font-family: "Arial-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.2px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  position: relative;
}

.announcement .element-spacers {
  position: relative;
  width: 640px;
  height: 32px;
  background-color: var(--digital-ctas-linksvenmo-digital-blue);
}

.announcement .element-image-modules {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  align-items: center;
  gap: 0px 0px;
  padding: 0px 48px 48px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--digital-ctas-linksvenmo-digital-blue);
}

.announcement .image-container {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 408px;
}

.announcement .bottom-spacer {
  width: 544px;
  position: relative;
  height: 32px;
}

.announcement .element-two-column-half {
  display: flex;
  flex-direction: column;
  width: 640px;
  align-items: flex-start;
  padding: 16px 48px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.announcement .top-spacer-2 {
  width: 100%;
  position: relative;
  min-width: 260px;
  max-width: 544px;
  height: 32px;
  opacity: 0.5;
}

.announcement .two-column-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.announcement .copy-container {
  display: flex;
  flex-direction: column;
  width: 260px;
  align-items: flex-start;
  position: relative;
}

.announcement .headline-wrapper {
  display: flex;
  min-width: 260px;
  max-width: 592px;
  align-items: center;
  gap: 10px;
  padding: 14px 0px 8px;
  position: relative;
  width: 100%;
  flex: 0 0 auto;
}

.announcement .text-wrapper {
  color: #000000;
  font-size: 36px;
  letter-spacing: -0.72px;
  line-height: 36px;
  position: relative;
  display: flex;
  align-items: flex-end;
  flex: 1;
  margin-top: -1px;
  font-family: "Athletics-Bold", Helvetica;
  font-weight: 700;
}

.announcement .elements-text-body {
  display: flex;
  flex-direction: column;
  min-width: 260px;
  max-width: 592px;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  padding: 11px 0px;
  position: relative;
  width: 100%;
  flex: 0 0 auto;
}

.announcement .p {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: -1px;
  font-family: var(--body-body-font-family);
  font-weight: var(--body-body-font-weight);
  color: var(--venmo-brand-colors-black-duplicate);
  font-size: var(--body-body-font-size);
  letter-spacing: var(--body-body-letter-spacing);
  line-height: var(--body-body-line-height);
  font-style: var(--body-body-font-style);
}

.announcement .element-image {
  display: flex;
  flex-direction: column;
  width: 260px;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  padding: 16px 0px;
  position: relative;
  align-self: stretch;
}

.announcement .image {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 340px;
  object-fit: cover;
}

.announcement .bottom-spacer-2 {
  position: relative;
  min-width: 260px;
  max-width: 544px;
  width: 100%;
  height: 32px;
}

.announcement .element-two-column-half-2 {
  flex-direction: column;
  background-color: #ffffff;
  display: flex;
  width: 640px;
  align-items: flex-start;
  padding: 0px 48px 16px;
  position: relative;
  flex: 0 0 auto;
}

.announcement .image-2 {
  object-fit: cover;
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 260px;
}

.announcement .div-wrapper {
  display: flex;
  flex-direction: column;
  min-width: 260px;
  max-width: 592px;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  padding: 11px 10px 11px 0px;
  position: relative;
  width: 100%;
  flex: 0 0 auto;
}

.announcement .element-two-column-half-3 {
  flex-wrap: wrap;
  gap: 0px 0px;
  background-color: #deefff;
  display: flex;
  width: 640px;
  align-items: flex-start;
  padding: 0px 48px 16px;
  position: relative;
  flex: 0 0 auto;
}

.announcement .top-spacer-3 {
  flex: 1;
  flex-grow: 1;
  position: relative;
  min-width: 260px;
  max-width: 544px;
  height: 32px;
  opacity: 0.5;
}

.announcement .body-copy-arial-2 {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: -1px;
  font-family: var(--body-r-font-family);
  font-weight: var(--body-r-font-weight);
  color: #000000;
  font-size: var(--body-r-font-size);
  letter-spacing: var(--body-r-letter-spacing);
  line-height: var(--body-r-line-height);
  font-style: var(--body-r-font-style);
}

.announcement .image-3 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 260px;
}

.announcement .bottom-spacer-3 {
  flex: 1;
  min-width: 260px;
  max-width: 544px;
  flex-grow: 1;
  position: relative;
  height: 32px;
}

.announcement .element-spacers-2 {
  position: relative;
  width: 640px;
  height: 32px;
  background-color: var(--basicswhite);
}

.announcement .element-bookend {
  display: flex;
  flex-direction: column;
  width: 640px;
  align-items: flex-start;
  padding: 48px 48px 64px;
  position: relative;
  flex: 0 0 auto;
}

.announcement .image-wrapper {
  display: flex;
  flex-direction: column;
  min-width: 288px;
  max-width: 592px;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 10px;
  position: relative;
  width: 100%;
  flex: 0 0 auto;
}

.announcement .image-4 {
  position: relative;
  min-width: 288px;
  max-width: 592.6px;
  width: 100%;
  min-height: 144px;
  max-height: 296.3px;
  aspect-ratio: 2;
}

.announcement .content {
  display: flex;
  flex-direction: column;
  min-width: 288px;
  max-width: 592px;
  align-items: center;
  padding: 16px 47px;
  position: relative;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--digital-ctas-linksvenmo-digital-blue);
  border-radius: 0px 0px 16px 16px;
}

.announcement .elements-text-2 {
  padding: 14px 0px 8px;
  display: flex;
  min-width: 260px;
  max-width: 592px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  width: 100%;
  flex: 0 0 auto;
}

.announcement .headline-2 {
  justify-content: center;
  color: var(--venmo-brand-colors-white);
  font-size: var(--h3-36pt-font-size);
  text-align: center;
  letter-spacing: var(--h3-36pt-letter-spacing);
  line-height: var(--h3-36pt-line-height);
  position: relative;
  display: flex;
  align-items: flex-end;
  flex: 1;
  margin-top: -1px;
  font-family: var(--h3-36pt-font-family);
  font-weight: var(--h3-36pt-font-weight);
  font-style: var(--h3-36pt-font-style);
}

.announcement .body-copy-arial-3 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-top: -1px;
  font-family: var(--body-r-font-family);
  font-weight: var(--body-r-font-weight);
  color: var(--venmo-brand-colors-white);
  font-size: var(--body-r-font-size);
  text-align: center;
  letter-spacing: var(--body-r-letter-spacing);
  line-height: var(--body-r-line-height);
  font-style: var(--body-r-font-style);
}

.announcement .button-2 {
  all: unset;
  box-sizing: border-box;
  width: 260px;
  display: flex;
  height: 38px;
  align-items: center;
  justify-content: center;
  padding: 16px 20px;
  position: relative;
  background-color: #ffffff;
  border-radius: 26px;
}

.announcement .element-footer {
  display: flex;
  flex-direction: column;
  width: 640px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.announcement .line {
  position: relative;
  width: 640px;
  height: 1px;
  margin-top: -1px;
  object-fit: cover;
}

.announcement .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 32px 48px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.announcement .footer-log-social {
  display: flex;
  height: 17px;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.announcement .element-primary-logo {
  display: flex;
  flex-direction: column;
  width: 85px;
  height: 16px;
  align-items: center;
  gap: 1.67px;
  padding: 0px 6.2px;
  position: relative;
}

.announcement .logo {
  position: relative;
  width: 84.15px;
  height: 16.04px;
  margin-bottom: -0.04px;
  margin-left: -5.77px;
  margin-right: -5.77px;
}

.announcement .vector-5 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.announcement .vector-6 {
  position: absolute;
  width: 81.67%;
  height: 99.65%;
  top: 0;
  left: 18.33%;
}

.announcement .vector-7 {
  position: absolute;
  width: 65.53%;
  height: 99.65%;
  top: 0;
  left: 34.47%;
}

.announcement .vector-8 {
  position: absolute;
  width: 46.45%;
  height: 99.65%;
  top: 0;
  left: 53.55%;
}

.announcement .vector-9 {
  position: absolute;
  width: 17.21%;
  height: 99.65%;
  top: 0;
  left: 82.79%;
}

.announcement .socials {
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 14px;
  position: relative;
  flex: 0 0 auto;
}

.announcement .help-center {
  position: relative;
  width: 59px;
  height: 17px;
}

.announcement .text-wrapper-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-family: "Arial-Regular", Helvetica;
  font-weight: 400;
  color: var(--color-tokens-in-text-link);
  font-size: 11px;
  letter-spacing: 0;
  line-height: 16.5px;
  white-space: nowrap;
}

.announcement .logo-blue {
  position: relative;
  width: 15.05px;
  height: 15.35px;
  background-image: url(./img/logo-blue-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.announcement .instagram {
  position: relative;
  width: 15.35px;
  height: 15.35px;
}

.announcement .footer-copy {
  position: relative;
  align-self: stretch;
  font-family: "Arial-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 11px;
  letter-spacing: -0.11px;
  line-height: 14px;
}

.announcement .span {
  color: #000000;
  letter-spacing: -0.01px;
}

.announcement .text-wrapper-3 {
  font-family: "Arial-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  letter-spacing: -0.01px;
}

.announcement .text-wrapper-4 {
  color: #0074de;
  letter-spacing: -0.01px;
  text-decoration: underline;
}
